
* {
  box-sizing: border-box;
}

.app {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background: yellow;
  overflow: hidden;
}

.line_vertical {
  position: absolute;
  height: 100vw;
  width: 1px;
  left: 50%;
  background: #42567A;
}

.line_gorizontal {
  position: absolute;
  height: 1px;
  top: 50%;
  width: 100vw;
  background: #42567A;
}

.container {
  padding: 157px 80px 80px 80px;
}

.header {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: #42567A;
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -90px;
}

.main_text {
  position: absolute;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 200px;
  line-height: 160px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #5D5FEF;
}

.main_circle {}

.circle {
  width: 550px;
  height: 550px;
  border: 1px solid #42567A;
  border-radius: 50%;
}

.footer {
  margin-top: 96px;
}

.footer_paging {}

.footer_swapping {
  display: flex;
  justify-content: space-between;
}

.slide {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #42567A;
}

.slide_1 {}

.slide_1 {}

.slide_1 {}